@using Movie_Vote_Data.BusinessLayer
@model IEnumerable<Movie_Vote_Data.DbLayer.Movie>

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    UserVote uv = HttpContext.Current.Session["UserVote"] as UserVote;
}

<div class="section-white">
    <div class="container body-content">
        <div>
            <h2>@RHome.TitleLine1</h2>
            <h5>@RHome.TitleLine2</h5>
        </div>
    </div>
</div>
<div id="data-section" class="section-filter">
    <div class="container body-content">
        <div id="filter">
            <div class="filter-header slider-header text-center">
                @RHome.Filter
            </div>
            <div class="text-center row slider-body filter-body">
                <div class="col-sm-3">
                    <span class="filter-item-header">@(RHome.FilterAdded):</span>
                    <div data-filter-type="date" class="list-group filter-group">
                        <a data-value="new" class="list-group-item active">@RHome.FilterAddedNew</a>
                        <a data-value="old" class="list-group-item">@RHome.FilterAddedOld</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="filter-item-header">@(RHome.FilterType):</span>
                    <div data-filter-type="type" class="list-group filter-group">
                        <a data-value="all" class="list-group-item active">@RHome.FilterTypeAll</a>
                        <a data-value="movie" class="list-group-item">@RHome.FilterTypeMovie</a>
                        <a data-value="tv" class="list-group-item">@RHome.FilterTypeTv</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="filter-item-header">@(RHome.FilterRating):</span>
                    <div data-filter-type="rate" class="list-group filter-group">
                        <a data-value="all" class="list-group-item active">@RHome.FilterRatingAll</a>
                        <a data-value="hight" class="list-group-item">@RHome.FilterRatingHigh</a>
                        <a data-value="low" class="list-group-item">@RHome.FilterRatingLow</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="filter-item-header">@(RHome.FilterExtra):</span>
                    <div data-filter-type="extra" class="list-group filter-group filter-boolean">
                        <a data-value="favorite" class="list-group-item">@RHome.FilterExtraRecomend</a>
                        <a data-value="my_heart" class="list-group-item">@RHome.FilterExtraHeart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="data-section" class="section-dot">
    <div class="container body-content">
        <div id="data" class="row">
            @foreach (var item in Model)
            {
                <div class="container col-md-4 col-sm-6">
                    <div data-id="@item.Id" data-type="@(item.IsTvShow?"tv":"movie")" class="panel panel-movie no-init panel-default">
                        <div class="panel-heading ">
                            <div class="one-line">
                                <span class="badge rate pull-right">@item.Rate</span>
                                @if (item.IsFavorite)
                                {
                                    <span class="glyphicon glyphicon-star pull-right" style="margin-right:5px; color:red"></span>
                                }
                                <span>@item.Name</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="display-wrapper">
                                <img class="img-medium movie-poster" src="~/Content/loading_dark.gif" />
                                @if (item.Watched.HasValue)
                                {
                                    <div class="watched-container">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span title="@item.Watched.ToString()"> @item.Watched.Value.ToShortDateString()</span>
                                    </div>
                                }

                                <div class="movie-info">
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-4 col-lg-4">@(RHome.MovieInfoName):</div>
                                        <div class="col-sm-8 col-xs-8 col-lg-8 movie-name">-</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-4 col-lg-4">@(RHome.MovieInfoRelease):</div>
                                        <div class="col-sm-8 col-xs-8 col-lg-8 movie-release">@(item.Year.HasValue? item.Year.ToString() : "-")</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-4 col-lg-4">@(RHome.MovieInfoGenres):</div>
                                        <div class="col-sm-8 col-xs-8 col-lg-8 movie-genre">-</div>
                                    </div>
                                    <div class="description-wrapper">
                                        <hr />
                                        <div class="movie-description"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-wrapper text-center" style="margin-top:10px">
                                <button class="btn btn-danger vote">
                                    <span class="glyphicon glyphicon-heart"></span>
                                </button>
                                <button class="btn btn-info info">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </button>
                                @if (item.IsTvShow)
                                {
                                    <span class="type t-tv">@RHome.MovieTypeTv</span>
                                }
                                else
                                {
                                    <span class="type t-movie">@RHome.MovieTypeMovie</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @{
            int pages = (int)ViewBag.Pages;
            if (pages > 1)
            {
                <div class="text-center">
                    <div id="pagination" class="t-nocturnal-purple">
                        <div class="loadingDots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/paginationAjax.js"></script>
    <script src="~/Scripts/NoRazor.js"></script>
    <script>
        $(function () {

            var contentPages = @ViewBag.Pages;
            var votedMov = @Html.Raw(Json.Encode(uv.MovieId));
            $(".panel-movie").each(function (index, element) {
                var id = GetId(this);
                for (var i in votedMov){
                    if (votedMov[i] == id){
                        $(element).removeClass("panel-default").addClass("panel-danger").find(".vote").addClass("active");
                    }
                }
            });

            $(".filter-group > a.list-group-item").on("click", filterItemEventClick);
            $("#pagination").paginationAjax('@Url.Action("Page", "Home")', contentPages, paginationData);

            initElements();
        });

        var paginationData = {
            dataElementSelector: "#data",
            urlParameters: getFilterParams(),
            language: MultiLanguage.Cookies.getCookie("LangForMultiLanguage"),

            beforeLoadPage: function () {
                $('html, body').animate({ scrollTop: $('#data-section').position().top - 50 }, 'slow');
                loading(true);
            },
            afterLoadPageSuccess: function() { loading(false); },
            afterLoadPageError: function() { loading(false); },

            loadMoreButton: true,
            beforeLoadMore: function () { loading(true); },
            afterLoadMoreSuccess: function() { loading(false); },
            afterLoadMoreError: function() { loading(false); },

            paginationStyle: "allPagesShrink",
            paginationStyleFlexible: true,
            visiblePagesCount: 5
        };

        function loading(isLoading) {
            if (isLoading) {
                $("#logo").hide();
                $("#loading").show();
                $("#load-more").addClass("disabled");
                $(".filter-group > a.list-group-item").addClass("disabled");
                $(".pagination li:not(.active)").addClass("disabled");
            } else {
                $("#loading").hide();
                $("#logo").show();
                $("#load-more").removeClass("disabled");
                $(".filter-group > a.list-group-item").removeClass("disabled");
                $(".pagination li").removeClass("disabled");
            }
        }

        function getFilterParams(page = 1) {
            var params = {};
            if (page > 1)
                params["page"] = page;

            $(".filter-group > a.list-group-item.active").each(function (i, e) {
                var key = $(this).parent(".filter-group").data("filter-type");
                var value = $(this).data("value");
                if ($(this).parent(".filter-boolean").length) {
                    key = $(this).data("value");
                    value = true;
                }
                params[key] = value;
            });

            return params;
        }

        function filterItemEventClick(e) {
            if ($(this).hasClass("disabled"))
                return false;
            if ($(this).hasClass("active") && !$(this).parent(".filter-boolean").length)
                return false;

            if ($(this).parent(".filter-boolean").length) {
                $(this).toggleClass("active");
            } else {
                $(this).addClass("active").siblings(".active").removeClass("active");
            }

            loading(true);
            var urlParams = $.param(getFilterParams());
            $("#data").load('@Url.Action("Page", "Home")?' + urlParams, function () {
                $("#pagination").paginationAjax('@Url.Action("Page", "Home")', contentPages, $.extend(paginationData, { urlParameters: getFilterParams() }));
                loading(false);
            });
        };

        function initElements(){
            $(".info:not(.clickadded)").click(function (e) {
                var panel = $(this).closest(".panel-movie");
                var poster = panel.find(".movie-poster");
                var watched = panel.find(".watched-container");
                var info = panel.find(".movie-info");

                if (info.is(":animated"))
                    return false;

                $(this).toggleClass("active");
                if ($(info).css("opacity") == 0) {
                    poster.css("filter", "blur(5px)");
                    watched.css("filter", "blur(5px)");
                    info.show().animate({ "opacity": 1 }, 500);
                } else {
                    watched.css("filter", "blur(0px)");
                    poster.css("filter", "blur(0px)");
                    info.animate({ "opacity": 0 }, 500, function () { info.hide(); });
                };
            }).addClass("clickadded");

            $(".vote:not(.clickadded)").click(function (e) {
                var id = GetId(this);
                var self = this;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Vote","Home")",
                    data: { id: id },
                    success: function (data) {
                        var panel = $(".panel-movie[data-id="+id+"]");
                        if (panel.hasClass("panel-default")){
                            $(self).addClass("active");
                            $(".panel-movie[data-id="+id+"]").removeClass("panel-default").addClass("panel-danger").find(".rate").text(data);
                        }
                        else{
                            $(self).removeClass("active");
                            $(".panel-movie[data-id="+id+"]").removeClass("panel-danger").addClass("panel-default").find(".rate").text(data);
                        }
                    }
                });
            }).addClass("clickadded");
        };
    </script>
}
