@using Movie_Vote_Data.BusinessLayer
@model IEnumerable<Movie_Vote_Data.DbLayer.Movie>

@{
    UserVote uv = HttpContext.Current.Session["UserVote"] as UserVote;
}

@foreach (var item in Model)
{
    <div class="container col-md-4 col-sm-6">
        <div data-id="@item.Id" data-type="@item.Extras" class="panel panel-movie no-init panel-default">
            <div class="panel-heading ">
                <div class="one-line">
                    <span class="badge rate pull-right">@item.Rate</span>
                    @{
                        if (item.IsFavorite)
                        {
                            <span class="glyphicon glyphicon-star pull-right" style="margin-right:5px;color:red"></span>
                        }
                    }
                    <span>@item.Name</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="display-wrapper">
                    <img class="img-medium movie-poster" src="~/Content/loading_dark.gif" />
                    <div class="movie-info">
                        <div class="row">
                            <div class="col-sm-4 col-xs-4 col-lg-4">Назва:</div>
                            <div class="col-sm-8 col-xs-8 col-lg-8 movie-name">-</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-4 col-lg-4">Реліз:</div>
                            <div class="col-sm-8 col-xs-8 col-lg-8 movie-release">-</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-4 col-lg-4">Жанри:</div>
                            <div class="col-sm-8 col-xs-8 col-lg-8 movie-genre">-</div>
                        </div>
                        <div class="description-wrapper">
                            <hr />
                            <div class="movie-description"></div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrapper text-center" style="margin-top:10px">
                    @{if (item.Extras == "tv")
                        {
                            <span class="type t-tv">Серіал</span>
                        }
                        else if (item.Extras == "movie")
                        {
                            <span class="type t-movie">Фільм</span>
                        }
                    }
                    <button class="btn btn-danger vote">
                        <span class="glyphicon glyphicon-heart"></span>
                    </button>
                    <button class="btn btn-info info">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
                        }

<script>
    var contentPages=@ViewBag.Pages;

    $(".panel-movie").each(function (index, element) {
        movieInfo(this);
    });
    initElements();
    var votedMov = @Html.Raw(Json.Encode(uv.MovieId));
    $(".panel-movie").each(function (index, element) {
        var id = GetId(this);
        var self = this;
        for (var i in votedMov){
            if (votedMov[i] == id){
                $(element).removeClass("panel-default").addClass("panel-danger").find(".vote").addClass("active");
            }
        }
    });
</script>
